# Backend
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv
backend/.env
backend/.env.local

# Frontend
node_modules/
build/
dist/
.next/
out/
frontend/build
frontend/.env.local
frontend/.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Logs
logs/
*.log
npm-debug.log*

# Misc
.cache/
dist/
